<!DOCTYPE html>
<html lang="de_DE">
  <head>
    <meta charset="utf-8" />
    <title>Admin-Dashboard » <%= SITE_TITLE %></title>
    <meta property="og:title" content="<%= OG_TITLE %>">
    <meta property="og:description" content="<%= OG_DESCRIPTION %>">
    <meta name="og:locale" content="de_DE" />
    <link rel="icon" href="<%= SITE_FAVICON %>" type="image/png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      body {
        font-family: Arial, sans-serif;
        background: #0e0e0e;
        color: #fff;
        margin: 0;
        padding: 0;
        text-align: center;
      }
      h2 {
        color: #fff;
        padding: 20px;
        margin: 0;
        margin-top: 1%;
        text-align: center;
      }

      .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-items: stretch;
        padding: 1%;
        align-items: start;
      }
      .button-menu {
        display: inline-block;
        text-decoration: none;
        background-color: #555555;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        margin-bottom: 1%;
      }

      .button-menu:hover {
        background-color: #2e2e2e;
      }
      .delete-user-button,
      .delete-file-button {
        background-color: #ff4444;
        color: #fff;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 50px;
      }
      .delete-user-button:hover {
        background-color: #dd3333;
      }
      .delete-file-button:hover {
        background-color: #dd3333;
      }
      .token-button {
        background-color: #ff4444;
        color: #fff;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 50px;
      }
      .token-button:hover {
        background-color: #dd3333;
      }
      .search-container {
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
      }
      .search-input {
        padding: 5px;
        border: 1px solid #555555;
        border-radius: 5px;
        width: 60%;
        margin-right: 10px;
      }
      .search-button {
        background-color: #555555;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      .search-button:hover {
        background-color: #2e2e2e;
      }
      .register-container {
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
      }
      .register-input {
        padding: 5px;
        border: 1px solid #555555;
        border-radius: 5px;
        width: 30%;
        margin-right: 10px;
      }
      .register-button {
        background-color: #555555;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        padding: 5px;
      }
      .register-button:hover {
        background-color: #2e2e2e;
      }
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th,
      td {
        border: 1px solid #555555;
        padding: 10px;
        color: #fff;
        text-align: center;
      }
      th {
        background-color: #555555;
      }
      .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        background-color: #333333;
      }
      .stats-box {
        display: inline-table;
        width: 200px; /* Breite der Boxen anpassen */
        margin: 10px; /* Abstand zwischen den Boxen anpassen */
        text-align: center;
        padding: 1%;
        border: 1px solid #333333;
        border-radius: 10px;
        background-color: #333333;
      }

      .stats-box p {
        color: #fff;
        margin: 10px 0;
      }
      .stats-icon {
        font-size: 40px;
        line-height: 100px;
      }
      .version {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 15px;
        font-family: Arial, sans-serif;
        font-weight: bold;
        color: #ffffff,
      }
    </style>
  </head>
  <body>
    <h2>
      <%= greeting %>, <%= username %>.<br />Willkommen im Admin-Dashboard!
    </h2>
    <a href="/logout" class="button-menu">Ausloggen</a>
    <a href="/dashboard" class="button-menu">Dashboard</a>
    </br>
    <div class="stats-box">
        <div class="stats-icon"><i class="fa fa-hdd-o"></i></div>
        <p>Verwendeter Speicherplatz</p>
        <p><%= folderSizeMb.toFixed(2) %> MB</p>
      </div>
      <div class="stats-box">
        <div class="stats-icon"><i class="fa fa-users"></i></div>
        <p>Nutzeranzahl</p>
        <p><%= numberOfUsers %></p>
      </div>
      <div class="stats-box">
        <div class="stats-icon"><i class="fa fa-file"></i></div>
        <p>Anzahl der Dateien</p>
        <p><%= numberOfFiles %></p>
      </div>
    <div class="container">
      <div class="box">
        <h3>Benutzer</h3>
        <div class="search-container">
          <input
            type="text"
            class="search-input"
            id="searchUser"
            placeholder="Benutzer suchen..."
          />
          <button class="search-button" id="searchButtonUser">Suchen</button>
        </div>
        <table id="user-table">
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Rolle</th>
            <th>Token</th>
            <th>Löschen</th>
          </tr>
          <% users.forEach(user => { %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.username %></td>
            <td><%= user.role %></td>
            <td>
              <button class="token-button" data-token="<%= user.token %>">
                <i class="fa fa-copy"></i>
              </button>
            </td>
            <td>
              <button
                class="delete-user-button"
                data-username="<%= user.username %>"
              >
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
          <% }); %>
        </table>
      </div>
      <div class="box">
        <h3>Dateien</h3>
        <div class="search-container">
          <input
            type="text"
            class="search-input"
            id="searchFile"
            placeholder="Datei suchen..."
          />
          <button class="search-button" id="searchButtonFile">Suchen</button>
        </div>
        <table id="file-table">
          <tr>
            <th>ID</th>
            <th>Dateiname</th>
            <th>Erstellt am</th>
            <th>Größe</th>
            <th>Löschen</th>
          </tr>
          <% file_data.forEach(file => { %>
          <tr>
            <td><%= file.id %></td>
            <td><%= file.filename %></td>
            <td><%= file.creation_date %></td>
            <td><%= file.size_mb %>mb</td>
            <td>
                <button
                class="delete-file-button"
                data-filename="<%= file.filename %>"
                data-username="<%= file.username %>"
              >
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
          <% }); %>
        </table>
      </div>
      <div class="version">
        v.<%= localVersion.version %></br>
      </div>
    </div>
    <script>
      document.querySelectorAll(".token-button").forEach(function (button) {
        button.addEventListener("click", function () {
          event.preventDefault();

          const fileUrl = button.getAttribute("data-token");

          navigator.clipboard
            .writeText(fileUrl)
            .then(function () {
              alert("Der Token wurde in die Zwischenablage kopiert.");
            })
            .catch(function (error) {
              alert("Fehler beim Kopieren des Tokens in die Zwischenablage.");
            });
        });
      });
    </script>
    <script>
      document.querySelectorAll(".delete-user-button").forEach(function (button) {
        button.addEventListener("click", function () {
          var username = button.getAttribute("data-username");

          fetch(`/user/${username}`, {
            method: "DELETE",
          })
            .then(function (response) {
              if (response.ok) {
                location.reload();
              } else {
                console.error("Error:", response.statusText);
              }
            })
            .catch(function (error) {
              console.error("Error:", error);
            });
        });
      });
    </script>
        <script>
            document.querySelectorAll(".delete-file-button").forEach(function (button) {
              button.addEventListener("click", function () {
                var filename = button.getAttribute("data-filename");
                var username = button.getAttribute("data-username");
      
                fetch(`/file/${username}/${filename}`, {
                  method: "DELETE",
                })
                  .then(function (response) {
                    if (response.ok) {
                      location.reload();
                    } else {
                      console.error("Error:", response.statusText);
                    }
                  })
                  .catch(function (error) {
                    console.error("Error:", error);
                  });
              });
            });
          </script>
    <script>
      document
        .getElementById("searchButtonUser")
        .addEventListener("click", function () {
          var searchUserTerm = document.getElementById("searchUser").value;
          window.location.href = "/admin?searchUser=" + searchUserTerm;
        });

      document
        .getElementById("searchButtonFile")
        .addEventListener("click", function () {
          var searchFileTerm = document.getElementById("searchFile").value;
          window.location.href = "/admin?searchFile=" + searchFileTerm;
        });
      document
        .getElementById("searchButtonUser")
        .addEventListener("click", function () {
          var searchUserTerm = document.getElementById("searchUser").value;
          var userTable = document.getElementById("user-table");

          if (searchUserTerm) {
            userTable.style.display = "table";
            showAllUserButton.style.display = "none";
          } else {
            userTable.style.display = "none";
            showAllUserButton.style.display = "block";
          }
        });

      document
        .getElementById("searchButtonFile")
        .addEventListener("click", function () {
          var searchFileTerm = document.getElementById("searchFile").value;
          var fileTable = document.getElementById("file-table");

          if (searchFileTerm) {
            fileTable.style.display = "table";
            showAllFileButton.style.display = "none";
          } else {
            fileTable.style.display = "none";
            showAllFileButton.style.display = "block";
          }
        });
    </script>
  </body>
</html>
