<!DOCTYPE html>
<html lang="de_DE">
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard » <%= SITE_TITLE %></title>
    <meta property="og:title" content="<%= OG_TITLE %>">
    <meta property="og:description" content="<%= OG_DESCRIPTION %>">
    <meta name="og:locale" content="de_DE" />
    <link rel="icon" href="<%= SITE_FAVICON %>" type="image/png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      body {
        font-family: Arial, sans-serif;
        text-align: center;
        background: #0e0e0e;
        color: #fff;
        margin: 0;
        padding: 0;
      }

      h2 {
        color: #fff;
        padding: 20px;
        margin: 0;
        margin-top: 1%;
        text-align: center;
      }

      .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
        justify-items: center;
        padding: 1%;
      }

      .file-preview {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border: 1px solid #333333;
        border-radius: 10px;
        text-align: center;
        background-color: #333333;
        position: relative;
        min-height: 300px;
      }

      .file-preview:before {
        content: "";
        background: linear-gradient(
          45deg,
          #ff0000,
          #ff7300,
          #fffb00,
          #48ff00,
          #00ffd5,
          #002bff,
          #7a00ff,
          #ff00c8,
          #ff0000
        );
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        border-radius: 10px;
      }

      .file-preview:hover:before {
        opacity: 1;
      }

      .file-preview:after {
        z-index: -1;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px;
      }

      @keyframes glowing {
        0% {
          background-position: 0 0;
        }
        50% {
          background-position: 400% 0;
        }
        100% {
          background-position: 0 0;
        }
      }

      .file-preview img,
      .file-preview video {
        max-width: 100%;
        max-height: 200px;
        border-radius: 5px;
        margin: auto;
      }

      .file-preview .icon {
        font-size: 48px;
        line-height: 100px;
        margin: auto;
      }

      .file-preview p {
        margin: 10px 0;
        color: #fff;
      }

      .action-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #333333;
        padding: 10px 0;
        margin-top: auto;
      }

      .action-buttons a {
        color: #fff;
        text-decoration: none;
        margin: 0 2px;
        font-size: 18px;
      }

      .button-menu {
        display: inline-block;
        text-decoration: none;
        background-color: #555555;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        margin-bottom: 1%;
      }

      .button-menu:hover {
        background-color: #2e2e2e;
      }

      .button-card {
        display: inline-block;
        text-decoration: none;
        background-color: #0e0e0e;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
      }

      .button-card:hover {
        background-color: #2e2e2e;
      }

      .popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
      }

      .popup-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #333333;
        border: 5px;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
      }

      .popup-content img,
      .popup-content video {
        max-width: 100%;
        border-radius: 5px;
        max-height: 80vh;
      }
      ::-webkit-scrollbar {
        width: 5px;
      }
      ::-webkit-scrollbar-thumb {
        background: #333;
        border-radius: 10px;
      }

      .stats-box {
        display: inline-table;
        width: 200px; /* Breite der Boxen anpassen */
        margin: 10px; /* Abstand zwischen den Boxen anpassen */
        text-align: center;
        padding: 1%;
        border: 1px solid #333333;
        border-radius: 10px;
        background-color: #333333;
      }

      .stats-box p {
        color: #fff;
        margin: 10px 0;
      }
      .stats-icon {
        font-size: 40px;
        line-height: 100px;
      }
      .version {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 15px;
        font-family: Arial, sans-serif;
        font-weight: bold;
        color: #ffffff,
      }
    </style>
  </head>
  <body>
    <h2><%= greeting %>, <%= username %>.<br />Willkommen im Dashboard!</h2>
    <a href="/logout" class="button-menu">Ausloggen</a>
    <a href="/admin" class="button-menu">Admin</a>
    </br>
    <div class="stats-box">
      <div class="stats-icon"><i class="fa fa-hdd-o"></i></div>
      <p>Verwendeter Speicherplatz</p>
      <p><%= totalSpaceUsed %> MB</p>
    </div>
    <div class="stats-box">
      <div class="stats-icon"><i class="fa fa-users"></i></div>
      <p>Nutzeranzahl</p>
      <p><%= numberOfUsers %></p>
    </div>
    <div class="stats-box">
      <div class="stats-icon"><i class="fa fa-file"></i></div>
      <p>Anzahl der Dateien</p>
      <p><%= numberOfFiles %></p>
    </div>
    <div class="container"></div>
    <a id="loadMoreButton" class="button-menu">Mehr laden</a>
    <div id="clickPopup" class="popup">
      <div class="popup-content">
        <img id="popupImage" style="display: none" />
        <video id="popupVideo" style="display: none" controls></video>
      </div>
    </div>
    <div class="version">
      v.<%= localVersion.version %></br>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      let currentPage = 1;
      let filesAvailable = true;

      function loadFiles(page) {
        $.ajax({
          url: `/api/data?page=${page}`,
          type: "GET",
          success: function (data) {
            const files = data.data;

            if (files.length > 0) {
              filesAvailable = true;
              files.forEach((file) => {
                let fileElement;
                if (
                  file.endsWith(".jpg") ||
                  file.endsWith(".png") ||
                  file.endsWith(".svg") ||
                  file.endsWith(".jpeg")
                ) {
                  fileElement = $("<img>")
                    .attr("loading", "lazy")
                    .attr("src", `/uploads/<%= username %>/` + file)
                    .attr("alt", file);
                } else if (
                  file.endsWith(".mp4") ||
                  file.endsWith(".mov") ||
                  file.endsWith(".avi")
                ) {
                  fileElement = $("<video controls>")
                    .attr("src", `/uploads/<%= username %>/` + file)
                    .attr("type", "video/*");
                } else if (file.endsWith(".gif")) {
                  fileElement = $("<img>")
                    .attr("src", `/uploads/<%= username %>/` + file)
                    .attr("alt", file);
                } else {
                  fileElement = $('<div class="icon">📄</div>');
                }

                const filePreview = $('<div class="file-preview">')
                  .append(fileElement)
                  .append($("<p>").text(file))
                  .append(
                    $('<div class="action-buttons">')
                      .append(
                        $(
                          '<a href="/download/' +
                            file +
                            '" class="button-card"><i class="fa fa-download"></i></a>'
                        )
                      )
                      .append(
                        $(
                            '<a class="button-card copy" data-fileurl="<%= BASE_URL %>/view/' +
                            file +
                            '"><i class="fa fa-copy"></i></a>'
                        )
                      )
                      .append(
                        $(
                          '<a href="/view/' +
                            file +
                            '" class="button-card" target="_blank"><i class="fa fa-share"></i></a>'
                        )
                      )
                      .append(
                        $(
                          '<a class="button-card trash-button" data-filename="' +
                            file +
                            '"><i class="fa fa-trash"></i></a>'
                        )
                      )
                  );

                $(".container").append(filePreview);
              });

              currentPage = page + 1;
            } else {
              filesAvailable = false;
              $("#loadMoreButton").hide();
            }
          },
          error: function () {
            alert("Fehler beim Laden weiterer Dateien.");
          },
        });
      }

      function loadMore() {
        if (filesAvailable) {
          loadFiles(currentPage);
        }
      }

      loadFiles(currentPage);

      $("#loadMoreButton").click(loadMore);
    </script>
<script>
    $(".container").on("click", ".copy", function (event) {
        event.preventDefault();
  
      const fileUrl = $(this).data("fileurl");
  
      navigator.clipboard.writeText(fileUrl)
        .then(function() {
          alert('Der Link zur Datei wurde in die Zwischenablage kopiert.');
        })
        .catch(function(error) {
          alert('Fehler beim Kopieren der URL in die Zwischenablage.');
        });
    });
  </script>
    <script>
      $(".container").on("click", ".trash-button", function () {
        const filename = $(this).data("filename");
        if (confirm("Möchten Sie diese Datei löschen?")) {
          const token = getCookie("token");

          $.ajax({
            url: "/file/" + filename,
            type: "DELETE",
            headers: { Authorization: token },
            success: function () {
              alert("Die Datei wurde erfolgreich gelöscht.");
              location.reload();
            },
            error: function () {
              alert("Fehler beim Löschen der Datei.");
            },
          });
        }
      });

      function openpopup(src, isVideo) {
        const popup = $("#clickPopup");
        const popupImage = $("#popupImage");
        const popupVideo = $("#popupVideo");

        if (isVideo) {
          popupImage.hide();
          popupVideo.show();
          popupVideo.attr("src", src);
        } else {
          popupVideo.hide();
          popupImage.show();
          popupImage.attr("src", src);
        }

        popup.show();
      }

      function closepopup() {
        $("#clickPopup").hide();
      }

      $(".container").on(
        "click",
        ".file-preview img, .file-preview video",
        function () {
          const preview = $(this).closest(".file-preview");
          const isVideo = preview.find("video").length > 0;
          const src = isVideo
            ? preview.find("video").attr("src")
            : $(this).attr("src");
          openpopup(src, isVideo);
        }
      );

      window.addEventListener("click", (event) => {
        const popup = document.getElementById("clickPopup");
        if (event.target === popup) {
          closepopup();
        }
      });

      function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(";").shift();
      }
    </script>
  </body>
</html>
